.header{
    
    background-color: #0B2447;
    color: #eee;
    padding: 1em;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.nav-links {
    justify-content: space-around;
    list-style-type: none;
}
.header a:visited{
    color: #eee;
}
.logo img{
    height: 3.5em;
    border-radius: 5px;
}


@media screen and (min-width: 1024px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }
    .nav-links{
        display: flex;
        list-style: none;
    }
    .nav-links li{
        padding: .5em;
        
    }
    
}